<div class="d-flex">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Medico </div>
        <div class="list-group list-group-flush">
            <a [routerLink]="['/medico/new-medical-history']" class="list-group-item list-group-item-action">Nueva historia clinica</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/new']">Nuevo</a>
            <a [routerLink]="['/list']" class="list-group-item list-group-item-action">Lista pacientes</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div class="container-fluid">
        <h1 class="titulo text-center">REPORTE GENERAL</h1>
        <br>

        <div class="citas">
            <div class="recuadro bg-success text-white">
                <strong>Citas atendidas</strong>
                <br>
                <strong class="valor">{{contadorGeneral}}</strong>
            </div>

            <!-- <div class="recuadro bloque bg-warning text-white">
                <strong>Promedio Diario</strong>
                <br>
                <strong class="valor">{{promedioDiario}}</strong>
            </div>
        -->
        </div>


        <br>

        <div class="horizontal">
            <div class="card grafico-pequeno">
                <div class="card-header">
                    <h1 class="titulo2">Vacunacion</h1>
                </div>
                <div class="card-body">
                    <canvas id="vacunacion"></canvas>
                </div>
            </div>

            <div class="card grafico-pequeno">
                <div class="card-header">
                    <h1 class="titulo2">Diagnosticos recurrentes</h1>
                </div>
                <div class="card-body">
                    <canvas id="diagnostico"></canvas>
                </div>
            </div>
        </div>

        <br>

        <div class="horizontal">
            <div class="card grafico-largo">
                <div class="card-header">
                    <h1 class="titulo2">Diagnosticos recurrentes</h1>
                </div>
                <div class="card-body">
                    <canvas id="diagnosticoNutricional"></canvas>
                </div>
            </div>
        </div>

        <br>

        <div class="horizontal">
            <div class="card grafico-largo">
                <div class="card-header">
                    <h1 class="titulo2">Diagnosticos recurrentes</h1>
                </div>
                <div class="card-body">
                    <canvas id="diagnosticoNeurodesarrollo"></canvas>
                </div>
            </div>
        </div>

        <br>

        <div class="horizontal">
            <div class="card grafico-largo">
                <div class="card-header">
                    <h1 class="titulo2">Diagnosticos recurrentes</h1>
                </div>
                <div class="card-body">
                    <canvas id="diagnosticoRiesgoSocial"></canvas>
                </div>
            </div>
        </div>

        <br>

        <div class="horizontal">
            <div class="card grafico-largo">
                <div class="card-header">
                    <h1 class="titulo2">Cantidad crecimiento adecuado niños</h1>
                </div>
                <div class="card-body">
                    <canvas id="Crecimiento"></canvas>
                </div>
            </div>
        </div>

        <br>

        <div class="horizontal">
            <div class="card grafico-largo">
                <div class="card-header">
                    <h1 class="titulo2">Alteracion en el desarrollo</h1>
                </div>
                <div class="card-body">
                    <canvas id="alteracionDesarrollo"></canvas>
                </div>
            </div>
        </div>

        <br>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->