<div class="col-md-6 mx-auto mt-5">
    <div class="card" *ngIf="user$ | async as user; else loading">
        <div class="card-body">
            <h3 class="card-title text-center">
                Gracias por registrarte!
            </h3>
            <div class="form-group">
                <p class="text-center">
                    Se te ha enviado un correo de confirmacion al correo<strong>{{ user?.email }}</strong>
                </p>
                <P class="text-center">
                    Por favor revisa tu correo e ingresa al link para verificar su correo electronico.
                </P>
            </div>
            <div class="form-group text-center mt-4">
                <button class="btn btn-primary" (click)="onSendEmail()"> Reenviar correo de verificacion</button>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    Cargando...
</ng-template>