.Title {
    font-family: mistral;
    text-align: center;
}

.subtitulo {
    font-family: Edwardian Script ITC;
    text-align: center;
    font-weight: bolder;
}

.eslogan {
    font-family: Edwardian Script ITC;
    text-align: center;
    font-size: xx-large;
}